##########################################
# TO USE:
# pip install pre-commit
# pre-commit install --hook-type pre-push
##########################################

repos:
  - repo: local
    hooks:
      - id: format-check
        name: format check
        entry: make format-check
        language: system
        always_run: true

