name: Deploy TypeDoc
on: [workflow_dispatch]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    name: Build TypeDoc and Deploy to Cloudflare Pages
    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install TypeDoc
        run: npm install typedoc --no-save

      - name: Build TypeDoc
        working-directory: src/ts
        run: npx typedoc --out build

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy src/ts/build --project-name=cloesce-ts
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}